*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

header{
    max-width: 1280px;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
}
.tittle_container{
    display: flex;
}
.tittle{
    font-size: 2rem;
}
.suf{
    font-size: 2rem;
    color: #004E96;
}
.navlist{
    padding: 1rem;
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.link{
    text-decoration: none;
    color: black;
    text-align: center;
}
#Home{
    padding: 1rem;
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
}
.home > img{
    border-radius: 100%;
}

.home_item{
    width: 35%;
}

.intro{
    word-wrap: break-word;
}
#Sobre{
    padding: 1rem;
    max-width: 1280%;
    width: 100%;
    height: auto;
    background-color: #004e98;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.container_pessoas{
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: repeat(2,250px);
    gap: 20px;
}
.sobre_tittle{
    color: white;
}
.pessoa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sobre_img{
    width: 200px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.sobre_nome{
    margin-top:  5px;
    color: white;
}

#Contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    width: 100%;
    max-width: 1280px;

}

.contato_info{
    font-size:1.5rem;
}


.content_Container{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
}

.contato_tittle{
    font-size: 1.5rem;
    color: #004E96;
}
.form{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.input_container{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.label{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.label_txt{
    color: #004E96;
}

input{
    width: 100%;
    padding: 0.5rem;
}

.textarea_container{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#btn_submit{
    align-self: flex-start;
    width: 100px;
    height: 35px;
    background-color: white;
    border: 2px solid #004E96;
    cursor: pointer;
}

#btn_submit:hover{
    background-color: #004E96;
    transition: 0.2s;
    color: white;
}


@media screen and (max-width:930px) {
    .container_pessoas{
        margin-top: 40px;
        grid-template-columns: repeat(2,1fr);
        gap: 60px;
    }
}

@media screen and (max-width:680px){
    .logo{
        display: none;
    }
    .home_item{
        width: 80%;
        font-size: 1.4rem;
        text-align: center;
    }
    .navlist{
        width: 45%;
    }
}

@media screen and (max-width:550px){
    .container_pessoas{
        grid-template-columns: repeat(1,1fr);
    }
}
